.card {
    display: flex;
    flex-direction: column;
    gap: 5px;

    min-width: 280px;
    min-height: 100px;
    padding: 10px;
    background-color: gray;
}

.color {
    width: 16px;
    height: 16px;
    background-color: green;
    border-radius: 8px 8px 8px 8px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-header > div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.card-header > button {
    border: none;
    background-color: transparent;
    font-weight: bolder;
}

.card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-body .temperature {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.card-body > div {
    display: flex;
    flex-direction: column;
    line-height: 1;
}

.card-body .temperature span {
    font-size: 32px;
    font-weight: bold;
}

.card-body .temperature p {
    font-size: 20px;
    font-weight: normal;
}

.card-body .icon {
    max-width: 64px;
    max-height: 64px;
}

.card-body .extra-data {
    display: flex;
    flex-direction: column;

    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
}