.filter-container {
    container-type: inline-size;
    display: grid;
    gap: 1.5rem;
    --clr-selectable: #0035f4;
    --clr-selected: #009252;
}
.filter-header {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    color: var(--color-primary);
    background-color: var(--clr-selectable);
}
.filter-menu-toggle {
    cursor: pointer;
    align-self: flex-start;
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    gap: 0.5rem;
    min-width: 4rem;
    padding-block: 0.4rem;
    padding-inline: 0.6rem;
    color: var(--color-primary);
    background-color: var(--clr-selectable);
    border: 4px outset var(--clr-selectable);
}
.filter-menu-toggle:hover {
    text-decoration: underline;
}
.filter-menu-toggle img {
    min-height: 1em;
    min-width: 1em;
}
.filter-menu {
    border: 4px solid var(--clr-selectable);
    border-top: none;
    display: none;
    gap: 5px;
    padding-inline: 0.5rem; padding-block: 0.5rem;
}

.filter label {
    user-select: none;
    font-weight: bold;
    font-size: 0.8em;
    border: 3px outset var(--clr-selectable);
    padding: 0.25rem;
}
.filter input {
    display: none;
}
.filter:has(input:checked){
    color: var(--color-primary);
    background-color: var(--clr-selected);
}
.filter:has(input:checked) label {
    border: 3px outset var(--clr-selected);
}

.filter-output-card {
    color: var(--color-primary);
    background-color: var(--clr-selected);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}