:root {
    --color-primary: white;
    --color-secondary: rgb(224, 0, 73);

    --color-font-1: rgb(63, 63, 63);
    --color-font-2: rgb(230, 230, 230);

    --spacing-inline-sm: 10px;
    --spacing-section: 20px;
}

body {
    overflow-y: scroll;

    display: flex;
    flex-direction: column;

    min-width: 300px;
    min-height: 100svh;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;

    color: var(--color-font-1);
}

.wrapper {
    max-width: 1000px;
    margin-inline: auto;
}

body > header {    
    background-color: var(--color-secondary);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

body > main {
    flex-grow: 1;
    background-color: var(--color-font-2);
}

section {
    padding-inline: var(--spacing-inline-sm);    
    padding-top: var(--spacing-section);
}

section > header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 10px;
}

.back-to-top {
    position: sticky;
    bottom: 0;
    z-index: 1000;

    padding-inline: var(--spacing-inline-sm);
    padding-top: 5px;
    padding-bottom: 6px;

    text-align: right;
    font-weight: bold;

    background-color: var(--color-secondary);
}

.back-to-top a {
    color: var(--color-font-2);
}

body > footer {
    flex-shrink: 1;

    padding-inline: var(--spacing-inline-sm);
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: var(--color-secondary);
}

body > footer nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

body > footer nav a {
    font-weight: bold;
    color: var(--color-font-2);
}

.container-scroll-x {
    display: flex;
    justify-content: space-around;
    overflow-x: auto;
}

.hide {
    display: none;
}
/* Popup-styling */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup.hidden {
    display: none;
  }
  
  .popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 80%;
    max-width: 400px;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
  }
  