.map-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#map{
    width: 100%;
    height: 450px;
    position: relative;
    background: transparent;
    background-color: white;
    padding: 20px;
    border: 4px ridge var(--clr-static);
}

#datatable-container
{
    width: 100%;
    height: 450px;
    position: relative;
    overflow-y:scroll;
    background-color: white;
    padding: 0px;
    border: 4px ridge var(--clr-static);
}

#datatable_wrapper{
    padding: 00px 20px 20px 20px;
}

#datatable_wrapper .dt-layout-row:first-child{
    display: flex!important;
    background-color: white;
    position:sticky !important;
    padding: 5px 10px 10px 10px; 
    top: 0;
    z-index: 10;
}
.content {
    padding: 20px;
    text-align: center;
}

.leaflet-control-attribution {
    display: none;
}

/* .leaflet-overlay-pane {
    z-index: 500;
}

.leaflet-marker-pane {
    z-index: 600;
}

.d3-layer {
    z-index: 400;
    /* D3 elementen krijgen een lagere z-index */