.map-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#map {
    width: 100%;
    height: 450px;
    position: relative;
    background: transparent;
    background-color: white;
    padding: 20px;
    border: 4px ridge var(--clr-static);
}

#datatable-container {
    width: 100%;
    height: 450px !important;
    position: relative;
    overflow-y: scroll;
    background-color: white;
    padding: 0px;
    border: 4px ridge var(--clr-static);
}

#datatable_wrapper {
    padding: 00px 20px 20px 20px;
}

#datatable_wrapper .dt-layout-row:first-child {
    display: flex !important;
    background-color: white;
    position: sticky !important;
    padding: 5px 10px 10px 10px;
    top: 0;
    z-index: 10;
}

.content {
    padding: 20px;
    text-align: center;
}

.leaflet-control-attribution {
    display: none;
}

.legend {
    background: white;
    padding: 10px;
    line-height: 1.5;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.legend .circle {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 8px;
    border-radius: 50%;
}

/* .leaflet-overlay-pane {
    z-index: 500;
}

.leaflet-marker-pane {
    z-index: 600;
}

.d3-layer {
    z-index: 400;
    /* D3 elementen krijgen een lagere z-index */

/* LOADING OVERLAY */
/* Adjusted LOADING OVERLAY */
    #loading-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        z-index: 10;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .loading-spinner {
        border: 4px solid #f3f3f3;
        border-top: 4px solid #3498db;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    #loading-overlay p {
        margin-top: 10px;
        font-size: 16px;
        color: #555;
    }

    .map-container {
        position: relative;
        height: 100%;
    }

    #datatable-container {
        position: relative;
        height: 100%;
    }

    /*No data div*/
    .hidden {
        display: none;
    }
