#navbar-container {
    --clr-navbar-header: white;
    --clr-navbar-links: white;
    --clr-bg-navbar: var(--color-secondary);

    container-type: inline-size;
    padding-block: 0.5rem;

    background-color: var(--clr-bg-navbar);
}
#navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar-title, #navbar-toggle-label {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--clr-navbar-header)
}
#navbar-toggle-label {cursor: pointer;}
#navbar-toggle {display: none;}
#navbar-navigation {display: none;}
#navbar-navigation > a, #navbar-navigation > a:visited {
    color: var(--clr-navbar-links);
    font-weight: bold;
}
#navbar-toggle:checked + #navbar-navigation {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-block: 1rem;
    padding-left: 0.5rem;
}
@container (min-width: 700px) {
    #navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #navbar-toggle-label {display: none;}
    #navbar-title {font-size: 2em;}
    #navbar-navigation {font-size: 1.2em}
    #navbar-navigation, #navbar-toggle:checked + #navbar-navigation {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
}
.stick-to-top {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2000;
}