#navbar-container {
    container-type: inline-size;
    padding-block: 0.5rem;
}
#navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar-title, #navbar-toggle-label {
    font-size: 1.5em;
    font-weight: bold;
}
#navbar-toggle-label {cursor: pointer;}
#navbar-toggle {display: none;}
#navbar-navigation {display: none;}
#navbar-navigation > a, #navbar-navigation > a:visited {color: black;}
#navbar-toggle:checked + #navbar-navigation {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-block: 1rem;
    padding-left: 0.5rem;
}
@container (min-width: 700px) {
    #navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #navbar-toggle-label {display: none;}
    #navbar-title {font-size: 2em;}
    #navbar-navigation, #navbar-toggle:checked + #navbar-navigation {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        gap: 1.5rem;
    }
}